h1, h2,h3,h4
,h5{
  margin:0;
}

::-webkit-scrollbar {
  width: 0;
}
n
ion-header {
 ion-toolbar {
  --background: #e5f0fc;
  ion-icon{
    font-size : 1.4rem;
  }
  ion-title{
    font-size : 1.2rem;
  }

  ion-badge{
   position: relative;
   right: 1rem;
   top: -0.6rem;
   --background: #f8ab1c;
   --padding-start: 0px;
   width: 9px;
   height: 9px;
  }
 }
}
