<ion-header class="ion-no-border" mode ="ios">
  <ion-toolbar class="ion-padding-start ion-padding-end ion-padding-top">
    <ion-icon name="menu-outline" slot="start"></ion-icon>
    <ion-title>Weather</ion-title>
    <span slot="end">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge>&nbsp;</ion-badge>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content >
  {{tempData?.weather.icon}}
   <img src="http://openweathermap.org/img/wn/{{tempData?.weather.icon}}" >
  <h2 class="temperature">{{(tempData?.main.temp  - tempData?.main.temp_max).toFixed(0)}} °C</h2>
  <h4 class="location">{{tempData?.name}}</h4>
  <div class="main-info">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Column 1
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Content goes here.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Wind
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{tempData?.wind.speed}} KM
            </ion-card-content>
          </ion-card>
        </ion-col>
           <ion-col size="6" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Humidity
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{tempData?.main.humidity}} %
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Wind
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{tempData?.wind.speed}} KM
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
<Swiper-container [slidesPerView]="2.2"
[spaceBetween]="20">
<swiper-slide *ngFor="let fore of forecastData?.list">
  <div class="card">


   <h2>{{fore?.dt_txt}}</h2>

   <h3>{{(fore?.main.temp  - fore?.main.temp_max).toFixed(0)}} °C</h3>
  </div>
</swiper-slide>

</Swiper-container>
</ion-content>
