<ion-header class="ion-no-border" mode ="ios">
  <ion-toolbar class="ion-padding-start ion-padding-end ion-padding-top">
    <ion-icon name="menu-outline" slot="start"></ion-icon>
    <ion-title>Weather</ion-title>
    <span slot="end">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge>&nbsp;</ion-badge>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content >

  <h2 class="temperature"></h2>
  <h4 class="location">{{tempData.name}}</h4>
  <div class="main-info">

  </div>

</ion-content>
